<div>
    <div class='header bg-dark'>
        <div class='row top-nav-row'>
        <div class='brand my-1'>
            <h1> NgSite</h1>
        </div>
        <div class='inp-container p-0 my-4 w-50 h-25 bg-white'>
            <div class='dropdown m-0 p-0'>
            <select class='select-btn w-100 p-0 m-0'>
                <option> Cat-1 </option>
                <option> Cat-2 </option>
                <option> Cat-3 </option>
            </select>
            </div>
            <input class='form-control ' placeholder='Search...'/>
            <button> <i class='fa fa-search'></i> </button>
        </div>
        <div class='login-container p-0'>
            <i class='fa fa-user-circle user-icon'></i>
            <h5> <a href='#'> Login</a></h5> / <h5><a href='#'>Register</a></h5>
        </div>
        <div class='cart-wishlist'>
            <ul class='p-0'>
            <li class='list-icon'> <i class='fa fa-heart'></i></li>
            <li class='list-icon'> <i class='fa fa-shopping-cart'></i> </li>
            </ul>
        </div>
        </div>
    </div>
</div>