<div class='side-nav'>
    <div class='section-title'>
        <h3>Category</h3>
    </div>

    <div class='accordion'>
        <div class='accordion-item individual-category'>
            <div class='accordion-header'>
                <button class='accordion-button' data-bs-target="#accordion-heading-one" data-bs-toggle="collapse">
                    <div class='category-title'>
                        <a href='#'>Men</a>
                    </div>
                </button>
            </div>
            <div class='accordion-collapse collapse show' id='accordion-heading-one'>
                <div class='accordion-body'>
                    <ul>
                        <li class='sub-items'> <a href='#'>Coats</a> </li>
                        <li class='sub-items'> <a href='#'>Boots</a> </li>
                        <li class='sub-items'> <a href='#'>Party Wear</a> </li>
                        <li class='sub-items'> <a href='#'>Shirts</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>